<style>
    main {
        position: relative;
        background-color: #135ca0;
        height: 100vh;
        width: 100%;
    }
    .vertical-center {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .full-height {
        height: 100%;
    }
</style>
<main>
    <div class="full-height position-relative">
        <div class="vertical-center">
            <div class="col-md-6 offset-md-3">
                <!-- Card -->
                <div class="card card-image mb-3" style="background-image: url('http://youburger.com.br/images/lojas/jundiai/jundiai.jpeg'); background-size: cover; background-position: center;">
                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-3 px-4">
                        <div>
                            <img src="/assets/images/logo-youburger.png" class="img-fluid mb-5" style="max-width: 60%;"></img>
                            <h5 class="white-text"> Faça login com o Facebook e<br/>
                            <span class="font-weight-bold">retire seu cupom de desconto.</span></h5>
                            <h3 class="my-2">Aqui na <span class="font-weight-bold">YouBurger</span> você<br/>
                            tem desconto <span class="font-weight-bold">todo dia.</span></h3>
                            <a class="btn btn-primary"><i class="fa fa-facebook mr-1"></i> Clique aqui e ganhe seu desconto</a>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>            
</main>